@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  color: #7844e9;
  text-decoration: inherit;
}
a:hover {
  color: #432f6e;
}

.markdown-body table th {
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 24px;
  border: 1px solid var(--n-border-color);
}

.markdown-body table tr {
  border-top: 1px solid var(--n-border-color);
}
